{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="divlogin">
    <img src="{% static 'images/loginicon.png' %}" class="logicn">
    <p class="plogin">Welcome Back</p>
    <p>Login to continue your reading journey.</p>
    <div class="loginfrm">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <p style="color: red;">{{ form.non_field_errors.0 }}</p>
            {% endif %}

            <label for="id_email">Email:</label>
            <br>
            <input type="email" id="id_email" name="email" class="inpname" value="{{ form.email.value|default:'' }}">
            {% if form.email.errors %}<p style="color: red;">{{ form.email.errors.0 }}</p>{% endif %}
            <br>

            <label for="id_password">Password:</label>
            <br>
            <div class="password-wrapper">
                <input type="password" id="id_password" name="password" class="inppassword">
                <img src="{% static 'images/eye.png' %}" onclick="togglePassword('id_password', this)"
                    class="toggle-eye-icon" alt="Show password">
            </div>
            {% if form.password.errors %}<p style="color: red;">{{ form.password.errors.0 }}</p>{% endif %}
            <br>

            <div>
                <button type="submit" class="submit-login">Login</button>
            </div>
        </form>
        <p style="margin-top: -8px;">Don't have an account?
            <a href="{% url 'signup' %}" style="text-decoration: none;" class="createAcc">
                <u>Sign up</u>
            </a>
        </p>
    </div>
</div>
{% endblock %}