{% extends 'base.html' %}
{% block title %}My Loans{% endblock %}
{% block content %}
<div class="text">
    <h1><i>My Loans</i></h1>
    <p class="ptext">Here are the books you currently borrowed.</p>
</div>
<div class="tableBooks">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in active_loans %}
            <tr>
                <td class="tdTitle">{{ loan.book.title }}</td>
                <td>{{ loan.book.author }}</td>
                <td>{{ loan.borrow_date|date:"Y-m-d" }}</td>
                <td>
                    {{ loan.due_date|date:"Y-m-d" }}
                    {% if loan.is_overdue %}
                    <span style="color:red;">(Overdue)</span>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{% url 'loans:return_book' loan.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btReturn">Return</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">You have no borrowed books.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}